<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
  </configSections>
  <appSettings>
    <add key="ticketmaster.Service" value="http://ticketmaster.productserve.com/v1/soap.php"/>
  </appSettings>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="default.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="PageConfig" virtualUrl="^~/page/(\d+)/(.+)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/access/default.aspx?pageid=$1" ignoreCase="true"/>
    </rewrites>
  </urlrewritingnet>
  <connectionStrings>
    <add name="dbconn" connectionString="Data Source=sql3.hostinguk.net;User ID=PeterGregory;Password=bowling;pooling=false;database=pgdatabase"/>
  </connectionStrings>
  <system.web>
    <httpRuntime executionTimeout="1800" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
    <globalization uiCulture="en" culture="en-GB"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="Microsoft.VisualBasic"/>
        <add namespace="System.Data"/>
        <add namespace="System.Drawing"/>
        <add namespace="System.Data.SqlClient"/>
        <add namespace="System.Xml"/>
        <add namespace="System.Xml"/>
        <add namespace="Common.Common.Functions"/>
        <add namespace="BusinessLogic.GigsFirst.BLL"/>
        <add namespace="BusinessObject.GigsFirst.BOL"/>
      </namespaces>
      <controls>
        <add tagPrefix="cc1" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
    <!-- ASP .NET membership -->
    <authentication mode="Forms">
      <forms name=".GigsFirst" loginUrl="/access/login.aspx" defaultUrl="/access/default.aspx"/>
    </authentication>
    <machineKey validationKey="75897E4486FF688A32A0D318CB995D32C2ED5E7A4DCC0046DD8CE21F95CD12A540C67ADE192FDEC14D5B5324528310B515DD334213A9F6A2D18ACA84534BBF51" decryptionKey="90BC942E5021875A09EE3BB0C21BA7E3DF9797C923D61CD249F6E526276F273F" validation="SHA1" decryption="AES"/>
    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <clear/>
        <add name="SqlRoleManager" connectionStringName="dbconn" applicationName="GigsFirst" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="30">
      <providers>
        <clear/>
        <remove name="SqlProvider"/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dbconn" applicationName="GigsFirst" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="10" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"/>
      </providers>
    </membership>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear/>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <!-- END -->
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10240000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>